/* remove default settings*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* CSS variables */

:root {
  --rose-800-clr:hsl(332, 51%, 32%);
  --rose-50-clr: hsl(330, 100%, 98%);
  --stone-900-clr: hsl(24, 5%, 18%);
  --stone-600-clr:hsl(30, 10%, 34%);
  --stone-150-clr:hsl(30, 18%, 87%);
  --stone-100-clr: hsl(30, 54%, 90%);
  --brown-800-clr:hsl(14, 45%, 36%);
  --white-clr:hsl(0, 0%, 100%);

  --ff-headers: "Young Serif", serif;
  --ff-body: "Outfit", sans-serif;
  --fw-light: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-1600: 128px;

  --fs-h1-desktop: 40px;
  --fs-h2: 28px;
  --fs-h3: 20px;
  --fs-bodytext: 16px;
  --fs-h1-mobile: 36px;
}

/* global view - Desktop*/

/* layout */

body {
  display: grid;
  width: 100%;
  min-height: 100vh;
  place-items: center;
  gap: var(--spacing-100);
  padding: var(--spacing-600) var(--spacing-1600);
 }

.card {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-500);
}

img {
    margin: auto;
    width: 100%;
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
}

article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}


li {
    padding-left: var(--spacing-200);
    padding-bottom: var(--spacing-100);
}

p {
    display: inline;
}

ul, ol {
    padding-inline-start: 16px;
}

tr{
    padding-bottom: var(--spacing-150);
}




/* style */

body {
    background-color: var(--stone-100-clr);
    font-family: var(--ff-body);
    font-style: normal;
    font-size: var(--fs-bodytext);
    font-weight: var(--fw-light);
    line-height: 150%;
    color: var(--stone-600-clr);
}

.card {
    padding: var(--spacing-500);
    border-radius: 24px;
    background-color: var(--white-clr);
}

img {
    border-radius: 12px;
}

h1 {
    font-size: var(--fs-h1-desktop);
    font-family: var(--ff-headers);
    color: var(--stone-900-clr);
    line-height: 100%;
}

.preparation_card {
 background-color: var(--rose-50-clr);
 border-radius: 12px;
 padding: var(--spacing-300);
}

.preparation_card h3 {
    color: var(--rose-800-clr);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-h3);
    line-height: 100%;
}

h2 {
    color: var(--brown-800-clr);
    font-family: var(--ff-headers);
    line-height: 100%;
    font-size: var(--fs-h2);
}

hr {
    border: 1px solid var(--stone-150-clr);
}

th, td {
    border-bottom: 1px solid var(--stone-150-clr);
}

th {
    color: var(--stone-600-clr);
    font-family: var(--ff-body);
    font-size: var(--fs-bodytext);
    font-weight: var(--fw-light);
    text-align: left;
}

td {
    color: var(--brown-800-clr);
    font-weight: var(--fw-bold);
    text-align: left;
}



.accent_text {
  font-weight:var(--fw-semibold);
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Tablet */
@media screen and (min-device-width: 740px) and (max-device-width: 1200px){
    .card{
      width: 85%;
    }
}

/* Mobile */

@media screen and (min-device-width: 325px) and (max-device-width: 739px){
   body{
    padding: 0px;
   }
   
    .card{
      width: 100%;
      padding: 0px;
      border-radius: 0px;
    }

    img {
        border-radius: 0px;
       }

    main {
        gap: var(--spacing-400);
        padding: var(--spacing-400) var(--spacing-500);
    }

    h1 {
        font-size: var(--fs-h1-mobile);
    }
}